@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#logo{
  padding-bottom: 25px;
  padding-left:5%; 
  padding-right:5%;
  max-width: 40% !important;
  width: 15%;
}

.InputBox{

    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    left: 50%;
    margin-left: -125px;
    position: relative;
    align-content: center;

}

textarea {
    border: 2px solid #555555; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: white;
    margin: 0 0 10px 0;
    outline: none;
    width: 90%;
    height: auto;
    min-height: 310px;
    resize: vertical;
    overflow: auto; 
    overflow-y: auto;
    word-wrap:break-word;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea:hover{
  opacity: 0.95;
}

label{
  font-family: 'K2D', sans-serif;
  padding: 5px;
}

p{
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  color: white;
  text-align:center;
}
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}
h1{
  color: white;
  text-align: center;

}
.h1SelePales{
  font-size: 4em;
  text-transform: uppercase;
}
.h1Titulos{
  font-style: italic;
  font-size: 3em;
  text-transform: uppercase;
}
.h1Login{
  font-size: 5em;
}
.ButPart{
  width: 25%;
  margin: 3px;
}
.headerImg{
  /*width: 20%; */
  height: 30vh;
}
.headerImgPlano{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
}
.h1Relatorio{
  text-transform: uppercase;
  font-size: 2em;

}
@media only screen and (max-width: 600px) {
  body{
    /*overflow: hidden;*/
}
  .h1Login{
  	font-size: 250%;
  }
  .h1Titulos{
    font-style: italic;
    font-size: 2em;
  }
  .nusp{
    width: 30%;
  }
  .login{
  	width: 30%;
  }
  .senha{
  	width: 30%;
  }
  #logo{
    width: 100%;
  }
  .ButPart{
    width: 75%;
    margin: 3px;
  }
  .headerImg {
    width: 50%;
  }
}

.header img {
    float: left;
}
.header h1 {
    position: static;
}
.header{
  min-height: 50px;
}
textarea{
  resize: none;
}
input,select{
  background-color: unset;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius:3px;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /*height: 50%;*/
  /*width: 80%;*/
}
input:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
input:hover {
  background-color: white;
  transition: all 0.2s ease-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}
.botoesSeleciona{
	margin: 2px;
}
.Sortear{
  font-size: 50px;
  height: 50%;
  width: 80%;
}
optgroup{
  background-color: white;
  color: black;
  font-weight: bold;
}
option{
  color: white;
}
.brindesOP{
  background-color: purple;
}
.btBrinde{
  width: 15%;
  height: 50px;
  font-size: 1.5em;
  min-width: 150px;
  margin: 5px;
}
body {
  overscroll-behavior: contain;
}

/* NOVO REINADO DO CSS */

.title {
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.page-wrapper {
  min-height: 100vh;
}

.font-poppins {
  font-family: 'Open Sans', sans-serif;
  /*font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;*/
}

.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 40px 40px;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #666;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

button {
  outline: none;
  background: none;
  border: none;
}

.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
}

.btn:hover {
  filter: brightness(65%);
  color: white;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
  filter: unset;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
  color: white;
  filter: unset;
}

.btn--grey {
  background: #dedede;
}

.btn--grey:hover {
  background-color: #d1d1d1;
  filter: unset;
}

.btn--purple {
  background: #7303fc;
}

.btn--purple:hover {
  background-color: #9e4fff;
  filter: unset;
}

.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}

.inputTextoBonito {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  color: black;
}

.BemVindo {
  font-size: 2em;
  color: black;
  text-align: center;
}

.nomeLista {
  color: black;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 10px;
}

.nuspLista {
  color: #9c9c9c;
  font-size: 1em;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

.palestrasLista {
  font-size: 1em;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #57b846;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:unselect {
  display: none;
}